################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SolidApp/.vs
/SolidApp/SolidApp/bin/Debug/net8.0-windows
/SolidApp/SolidApp/obj
